body {
    font-family: Hero, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    color: #F9FAF8;
}

.logo {
    color: white;

}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f2937;
    flex: 1 0 auto;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul,
li {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    height: 60px;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: block;
    gap: 100px;
    margin: 10px;
}

.header_image {
    display: flex;
    width: 400px;
    height: 200px;

}

.welcome_message {
    font-size: 48px;
    color: #F9FAF8
}

.welcome_header {
    width: 500px;
    flex: 1 1 au
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 12px;
    padding: 10px 15px;
}


/* .move_left,
.move_right {
    display: flex;
    gap: 16px;
}


ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.welcome_message {
    width: 500px;
}


.info_container {
    display: flex;
    justify-content: center;

    flex-wrap: reverse-wrap;
}

img {
    width: 200px;
    height: 200px;
}

.image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 200px;
    flex-wrap: wrap;
    gap: 8px;
}

.steps {
    text-align: center;
}

.quote_container {
    display: flex;
}

.navlinks {}

.footer_container {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: white;
} */
*/